            <tr>
                <td colspan="2"><div id="homeHeader"> 

                    <table id="headerOptions">
                        <!--icon (placeholder image present)-->
                        <td><div style="width:200px;"><img src="https://icons.iconarchive.com/icons/iconarchive/dogecoin-to-the-moon/512/Doge-icon.png" style="width: 40px;height: 40px;"></div></td>
                        <!--Search Text Field-->
                        <td style="width:300px;"><h2 style="margin: 0px;margin-left: 525px;">DLSU FORUMS</h2></td>
                        <!--Login button-->
                        <td style="padding-left:200px;float: right;"><a class="loginbutton" href="/login"><div id="button" class="highlight"><p>LOGOUT</p></div></a></td>
                    </table>

                </div></td>
            </tr>