<td class="sideBox">     
    
    <div class="sidePanel">
        
        <a href="/index"><div id="sideButton"  class="highlight" style="top:80px;"><p>HOME</p></div></a>

        <a href="/profile"><div id="sideButton" class="highlight" style="top:160px;"><p>PROFILE</p></div></a>

        <a href="/editProfile"><div id="sideButton" class="highlight" style="top:240px;"><p>EDIT PROFILE</p></div></a>
            
        <a href="/about"><div id="sideButton" class="highlight" style="top:320px;"><p>ABOUT US</p></div></a>
            
        <a href="/create"><div id="sideButton" class="highlight" style="top:650px;"><p>+ CREATE POST</p></div></a>

    </div>

</td>