<!DOCTYPE html>

<html>
    <head>

        <title>Edit Post</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type ="text/javascript" src ="/editPost.js" defer></script>

    </head>

    <body>

        <table class="main">
        <!--Header Box-->
            <%- include("partials/header") %>

            <tr>
            <!--Side Box-->    
                <%- include("partials/sidebar") %>

                <!--Content here (images are placeholders)-->
                <td>
                    <div class="postWindow">
                        <div class="post" style="width: 600px;">
                            <!-- Post Header -->
                            <div class="postHeader"> 
                                <div><b><h1 style="margin: 0px;padding-left: 5px;">Edit Content</h1></b></div>
                            </div>
                            <!-- Post Contents -->
                            <div class="postBody">
                                <form action="/editPost" method="post" id="editPostForm">
                                    <!-- Hidden input field for postId -->
                                    <input type="text" value="" id="curSubject" name="curSubject"  hidden required>
                                    <input type="text" value="" id="curMsg" name="curMsg"  hidden required>
                                    <h3 style="margin: 0;">Subject:</h3><input style="width:400px;" type="text" id="subject" name="subject" required>
                                    <hr>
                                    <h3 style="margin: 0;">Message:</h3><textarea style="height: 200px; width:400px;" id="message" name="message" required></textarea>
                                    <hr>
                                    <h3>Tag:</h3>
                                    <input list="tagList" name="tag" id="tag" placeholder="enter or choose a tag" required>
                                    <datalist id="tagList">
                                        <option value="General">General</option>
                                        <option value="School">School</option>
                                        <option value="Entertainment">Entertainment</option>
                                        <option value="Technical">Technical</option>
                                    </datalist>
                                    <hr>
                                    <br><input style="margin-top: 20px;" type="submit" value="Submit">
                                </form>
                                
                                <!-- Delete Button -->
                                <form action="/delete" method="post" id="deleteForm" onsubmit="return confirm('Are you sure you want to delete?');">
                                    <!-- Hidden input field for postId -->
                                    <input type="text" value="" id="keySubject" name="keySubject" hidden required>
                                    <input type="text" value="" id="keyMsg" name="keyMsg" hidden required>
                                    <input type="submit" id="deleteButton" class="deleteButton" value="Delete"> 
                                </form>
                            </div>
                            <div class="postFooter"><p></p></div>
                        </div>
                    </div>
                    
                </td>

            </tr>
        </table>    

    </body>

</html>
