<!DOCTYPE html>

<html>
    <head>

        <title>Signup Page</title>
        <link rel="stylesheet" href="style.css">

    </head>

    <body class="signup-background-image" background="https://helios-i.mashable.com/imagery/articles/00apgKgIAO4EnFfjOgCApRe/hero-image.fill.size_1248x702.v1619086604.jpg">

        <h1 style="text-align: center;">SIGN UP</h1>
        <p style="text-align: center;">NOTE: DB implemented</p>
        
        <!--Containers for Signup-->
        <div class="signupcontainer">
            <div class="signup-inputcontainer">
                <form action="/signup" method="post" onsubmit="return matchPassword()">

                    <label for="email">DLSU E-mail Address:</label><br><br>
                    <input type="email" id="email" name="email" required><br><br>

                    <label for="username">Username:</label><br><br>
                    <input type="text" id="username" name="username" required><br><br>

                    <label for="password">Password:</label><br><br>
                    <input type="password" id="password" name="password" required><br><br>
                    
                    <label for="password">Re-enter Password:</label><br><br>
                    <input type="password" id="confirmpassword" name="confirmpassword" required><br><br><br>

                    <input type="submit" value="Create Account"><br>
                </form>
            </div>
        </div>
        
        <script>
            function matchPassword() {
                var password = document.getElementById("password").value;
                var confirmpassword = document.getElementById("confirmpassword").value;
    
                // Check if password and confirmpassword match
                if (password === confirmpassword) {
                    return true; // Proceed with account creation
                } else {
                    alert("Passwords do not match. Please try again.");
                    return false; // Prevent account creation
                }
            }
        </script>

    </body>

</html>
