<!DOCTYPE html>

<html>
    <head>

        <title>User List Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        <table class="main">
        <!--Header Box-->
            <%- include("partials/header") %>
            
            <tr>
            <!--Side Box-->    
                <%- include("partials/sidebar") %>

                <!--Content here (images are placeholders)-->
                <td>
                    <div class="postWindow">
                        
                        <div class="post" style="width: 800px;">
                            <!--Post Header-->
                            <div class="postHeader"> 
                                <div><b><h1 style="margin: 0px;padding-left: 5px;">About Us</h1></b></div>
                            </div>
                            <!--Post Contents -->
                            <div class="postBody">
                                <p>Our web application is focused on bringing together students from all over DLSU Manila to have a place to chat and discuss things. We aim to have the application be a place where any student of DLSU can come in and talk and maybe find new people in DLSU through an online forum specifically for DLSU students instead of looking through various other platforms like Reddit, Facebook, and Discord to find students with which they have similar interests. Whether a student wants to know more about a course from others who are taking it, or wants to ask about people's experiences in a specific DLSU organization - they can post what they want on our web application.</p>
                                <hr>
                                <b><p>npm Packages used:</p></b>
                                <ul>
                                    <li>express</li>
                                    <li>path</li>
                                    <li>mongodb</li>
                                    <li>express-session</li>
                                    <li>uuid</li>
                                    <li>bcrypt</li>
                                </ul>
                            </div>
                            <div class="postFooter"><p></p></div>
                        </div>
                        
                    </div>
                </td>

            </tr>
        </table>    
                
    </body>

</html>
