<!DOCTYPE html>

<html>
    <head>

        <title>User List Page</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type ="text/javascript" src="userList.js" defer></script>
    </head>

    <body>

        <table class="main">
        <!--Header Box-->
            <%- include("partials/header") %>
            
            <tr>
            <!--Side Box-->    
                <%- include("partials/sidebar") %>

                <!--Content here (images are placeholders)-->
                <td>
                    <div class="postWindow">
                        
                        <div class="post" style="width: 1200px;">
                            <!--Header-->
                            <div class="postHeader"> 
                                <div><b><h1 style="margin: 0px;padding-left: 5px;">USER LIST</h1></b></div>
                            </div>
                            <!--User list Contents -->
                            <div class="postBody">
                                
                            </div>
                            <div class="postFooter"><p></p></div>
                        </div>
                        
                    </div>
                </td>

            </tr>
        </table>

        <div id="editModal">
            <h3>Edit User</h3>
            <form id="editUserForm">
                <input type="hidden" id="editUserId">
                <label>Username:</label><br>
                <input type="text" id="editUsername"><br><br>

                <label>Gender:</label><br>
                <select id="editGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="">Other</option>
                </select><br><br>

                <label>DLSU ID:</label><br>
                <input type="text" id="editDlsuID"><br><br>

                <label>Role:</label><br>
                <select id="editRole">
                    <option value="member">member</option>
                    <option value="moderator">moderator</option>
                    <option value="admin">admin</option>
                </select><br><br>
                <label>Email:</label><br>
                <input type="text" id="editEmail"><br><br>
                <label>ProfilePic:</label><br>
                <input type="text" id="editProfilePic"><br><br>
                <label>Description:</label><br>
                <textarea id="editDescription"></textarea><br><br>
                <button type="submit">Save</button>
                <button type="button" id="closeModal">Cancel</button>
            </form>
        </div>

        <!-- Overlay -->
        <div id="modalOverlay"></div>
    </body>

</html>
