
.main{

    border-collapse: collapse;
    min-height: 100vh;
    width: 100%;
}

.lastLoginPopup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 900;
}

.post{
    width: 900px;
    height:auto;
    min-height: none; 
    max-height: none; /* have the post height adjust to postbody height */
}

.postbody{
    min-height: 300px;
    max-height: fit-content; /* have post body height adjust to content height */
}

.icon{

    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid rgb(187, 187, 187);

}

#homeHeader{
    height: 58px;
    width: 100%;
    position:fixed;
    background-color: #91c092;
    border-bottom: 2px solid hsl(121, 27%, 56%);
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.403);
    z-index: 1;
}

#headerOptions{

    text-align:center;
    width:100%;
    padding-left: 40px;
}


.sideBox{    
    background-color:hsl(0, 0%, 91%);
    width: 300px;
    border-right: 2px solid hsl(0, 0%, 70%);
}

.sidePanel{
    z-index: 0;
    position: fixed;
    bottom:275px;
    padding-top: 10px;
    padding-left:5px ;
    width: 290px;
    height: 400px;
}

#sideButton{
    position: fixed;
    width:250px;
    height:50px; 
    background-color: hsl(0, 0%, 78%);
    border: 1px solid hsl(0, 0%, 70%);
    padding-left: 20px;
    font-size: 1.2rem;
    text-align: justify;
    text-decoration: none;
    color: black;
}

@media all and (max-width: 1200px) {
    #sideButton { display: none; }
  }

.postWindow{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.trend{

    height:88px;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(186, 186, 186);

}

.trendBody{
    padding: 0px;
    position: fixed;
    bottom: 20px;
    right:30px;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
}

.trendPanel{

    height: 600px;

}

#trendTemplate{

    display:none;

}

.postHeader{

    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(186, 186, 186);


}

.postBody{
    min-height: 450px;
    max-height: 450px;
    overflow-wrap: break-word;
    padding: 20px;
    padding-top: 10px;
    text-align: justify;


}

.postFooter{
    border-top: 1px solid rgb(186, 186, 186);
    font-size: 0.8rem;
    color: rgb(151, 154, 157);
    display : table-row;
    vertical-align : bottom;
}

.searchWindow{
    align-items: center;
    width: 600px;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;
}

.post{
    width: 600px;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;
}

#postTemplate{

    display:none;

}

/* window with profile info */
.profileWindow {
    margin-bottom: 2%;
    width: 1100px;
    height: 450px;
    border: 10px solid rgb(78, 163, 121);
    border-radius: 1rem;
    background-color: lightgreen;
    box-sizing: border-box;
    padding-left: 11%;
    padding-right: 11%;
}

/* for images that are profile pictures (circle) */
.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 85%;
    border: 6px solid rgb(25, 143, 35);
    position: relative;
    top: 2%;
    right: 40%
}

.personalInfoWindow {
    height: 200px;
    width: 600px;
    background-color: aliceblue;
    position: relative;
    bottom: 47%;
    left: 24.5%;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    word-wrap: break-word;
    border: 2px solid rgb(233, 80, 80);
}

.personalInfoText {
    position: relative;
    margin: auto;
    text-align: left;
    display: block;
    font-size: 1.8rem;
}

.profileInfoTable {
    border: 5px solid rgb(3, 100, 3);
}

.profileInfoCell {
    border: 2px solid rgb(109, 202, 109);
    font-size: 1.6rem;
}

.emphasisText {
    color: red;
    font-size: larger;
}

/* window for the description section of the profile */
.descriptionWindow {
    height: 200px;
    width: 800px;
    background-color: aliceblue;
    position: relative;
    bottom: 45%;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    text-align: left;
    border: 2px solid rgb(37, 134, 151);
}

.descText {
    font-size: larger;
    display: block;
}

.personalInput {
    text-align: justify;
    margin: 5px;
}

.descEdit {
    height: 100%;
    width: 100%;
}

/* found below the profileWindow, about how the you can see posts from this user*/
.morePostsWindow {
    width: 1100px;
    height: 80px;
    background-color: rgb(109, 202, 109);
    margin: auto;
    margin-bottom: 2%;
}

.highlight:hover{
    filter: brightness(85%);
}

#button{
    height: 50px;
    width:100px;
    background-color: #a5d2a6;
    border: 2px outset #91c092;
}

body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background-color: rgb(216, 216, 216);

}

/* LOGIN styles */

/* log in button */
.loginbutton {

    color: black;
    text-decoration: none;

}

/* header 1 (LOG IN) */
h1 {
    /* margin-left: 900px;  */
    margin-top: 30px;  
}

/* log in container box */
.logincontainer {
    width: 700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

/* input details container box */
.inputcontainer {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    font-size: large;
    color: white;
}

/* Adjust width of input fields */
.inputcontainer input[type="email"],
.inputcontainer input[type="password"] {
    width: 130%; 
    padding: 10px; 
    box-sizing: border-box; 
}

/* Sign up link */
.signup-button {
    color: white;
}

/* sign up container box */
.signupcontainer {
    width: 700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

/* input for sign up details container box */
.signup-inputcontainer {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    font-size: large;
    color: white;
}

/* Adjust width of input fields */
.signup-inputcontainer input[type="text"],
.signup-inputcontainer input[type="password"],
.signup-inputcontainer input[type="email"] {
    width: 250%; 
    padding: 10px;
    box-sizing: border-box;
}

.login-background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* div for like, comment, and/or share buttons*/
.reactionbar{
    background-color: white;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: rgb(151, 154, 157);
    display : flex;
    flex-direction: row;
    vertical-align : bottom;
    width: 600px;
    height: 40px;
}

.confirmProfileButton {
    position: relative;
    border: 2px outset #91c092;
    height: 40px;
    width: 80px;
    left: 58%;
    bottom: 58%;
    background-color: #a5d2a6;
    box-shadow: 0 1px #666;
}

.confirmProfileButton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(70, 185, 147, 0.4);
}

.resetPasswordButton {
    border: 2px outset #91c092;
    height: 25px;
    width: 120px;
    background-color: #a5d2a6;
    box-shadow: 0 1px #666;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.resetPasswordButton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(70, 185, 147, 0.4);
}


.likeButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: green;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-left: 15px;
    float: left;
    color: white;
    margin-right: 20px;
}

.likeButton:hover{
    background-color:darkgreen;
}

.likeButton:active {
    background-color: #a5d2a6;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

.dislikeButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: red;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    float: left;
    color: white;
    margin-right: 20px;
}

.dislikeButton:hover{
    background-color: darkred;
}

.dislikeButton:active {
    background-color: lightcoral;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

#likeCount {
    position: relative;
    text-align: center;
    color: green;
    margin-right: 20px;
}

#dislikeCount {
    position: relative;
    text-align: center;
    color: red;
    margin-right: 20px;
}

#commentLikeCount {
    position: relative;
    text-align: center;
    color: green;
    margin-right: 20px;
}

#commentDislikeCount {
    position: relative;
    text-align: center;
    color: red;
    margin-left: 5px;
}

#commentTemplate {

    display:none;

}

/**********************************************************************************/

.editButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: rgb(33, 105, 213);
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-right: 15px;
    float: right;
    color: white;
    margin-left: 300px;   
    }

.editButton:hover{
    background-color: navy;
}

.editButton:active {
    background-color: lightblue;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.deleteButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: red;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-right: 15px;
    float: left;
    color: white;
    }

.deleteButton:hover{
    background-color: darkred;
}

.deleteButton:active {
    background-color: lightblue;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

/*parent div of entire comments section*/
.commentsection{
    width: 900px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;

}

/* div of each indidual comment, user, icon, and words */
.message{
    margin-bottom: 0px;
    max-width: 100%;
    max-height: fit-content;
}

/* div user image in comments*/
.commentIcondiv{
    float:left; margin-right: 10px;
}

/* user image refit for comments*/
.commentIcon{
    width:25px;
    height:25px;
    margin-right:10px;
}

/*div for usernames of commenters*/
.user {
    float:left; font-weight:bold; color:#009; margin-bottom: 5px;
}

/*div for the actual content of comments*/
.comment{
    margin-left: 30px;font-style:italic; color:black;
    overflow-wrap:break-word;
}

/*p for login to comment message*/
#loginmessage{
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
    font-style: italic;

}

.userTable{
    width: 100%; 
    border-collapse: collapse;
    flex-shrink: 0;
}

.tableRow{
    border: 1px solid #ccc;
    padding: 8px;
}

#editModal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

#modalOverlay{
    display: none;
    position: fixed;
    top:0; left:0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 900;
}
